html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}
h1{
    color: wheat;
}
body{
    background-image: linear-gradient(rgb(48, 48, 48),rgb(190, 190, 190)
    );
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #858585;
  }
  
  ul li {
    float: left;
  }
  
  ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul li a:hover {
    background-color: #111111;
  }
